{% macro render_topic(item, alternative) %}
{% set b_alt = 'topics' %}
{% set t = bag(b_alt, item._id) %}
<div class="item">
  <h3 class="text-primary">
    <a href="{{ t.path }}" role="button"></a>
  </h3>
  <div class="anchor-spacer">
    <div>
      <h5 class="text-muted mb-3 p-0 {{ bag('alternatives', alternative, 'direction') }}">
	<a href="{{ item|url }}">{{ item.title }}</a>
      </h5>

    </div>
     <div id="{{ item._id }}" class="anchor-spacer {{ bag('alternatives', alternative, 'direction') }}" role="tabpanel" data-parent="#{{ t_id }}">
      {{ item.body|safe }}
         <div class="card mt-5">
            <ul class="list-group list-group-flush">
                <!--li class="list-group-item"><a><span class="card-text text-muted">{{ _("Contributors to this page:") }} <a href="#" title="#">cypherpunk</a></span></li-->
                <li class="list-group-item">
                        <a href="https://dip.torproject.org/web/manual/edit/master/content{{ item.path }}/contents.lr">{{ _("Edit this page") }}</a> -
                        <a href="https://dip.torproject.org/web/manual/issues/new?issue[assignee_id]=&issue[milestone_id]=&issue[title]=User feedback about {{ item.path }}">{{ _("Suggest Feedback") }}</a> -
                        <a href="{{ item|url }}">{{ _("Permalink") }}</a>
                </li>
            </ul>
        </div>
  </div>
</div>
{% endmacro %}
